<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Details</title>
  </head>
  <body>
    <div>
      <div>
        <h4>Dear {{full_name}}</h4>
        <p>Congratulations! Your account has been opened successfully</p>

        <p style="margin-top:20px; margin-bottom:0px">Please find the account
          details of the same
        </p>
        <p style="margin-top:20px; margin-bottom:0px">Account Number :
          {{account_number}}</p>
        <p style="margin-bottom:0px">IFSC Code : {{ifsc_code}}</p>
        <p style="margin-bottom:0px">Netbanking UserID :
          {{netBanking_User_ID}}</p>
        <p style="margin-bottom:0px">Netbanking Password :
          {{netBanking_Password}}</p>
        <p style="margin-top:10px;">Your account is successfully created on
          {{opened_date}}</p>

        <p style="margin-top:30px;">Happy Banking! Thank you for choosing RIB
        </p>
        <p>Contact branch for any queries</p>

        <p style="margin-top:30px; margin-bottom:0px">Regards,</p>
        <p style="margin-bottom:0px">Bank Manager </p>
        <h6 style="margin-bottom:0px">ROYAL ISLAMIC BANK </h6>
      </div>
    </div>
  </body>
</html>